@font-face {
font-family: 'magic';
src: url('../fonts/magic.ttf?') format('truetype');
}

.content{
    width: 1600px;
    height: 480px;
    position: absolute;
    margin: 8px 0px 0px -8px;
}
.backgroundSplash{
    height: 100%;
    width: 320px;
    margin: -8px 0px 0px -8px;
    background: url('../../images/background.jpg') 0 0 no-repeat;
    position: absolute;
    font-family: magic, sans-serif;
}

.contentSplash{
    margin-top: 24px;
    margin-left: 22px;
    position: absolute;
}



.borda{
    border: 2px red solid;
}

#view-splash{
    position: relative;
    height: 100%;
    width: 320px;
    left: 0%;
}
#view-menu{
    position: relative;
    height: 100%;
    width: 320px;
    left: 322px;;
    top: -484px;
}
#view-search{
    position: relative;
    height: 100%;
    width: 320px;
    left: 644px;
    top: -968px;
}
#view-mechanics{
    position: relative;
    height: 100%;
    width: 320px;
    left: 966px;
    top: -1452px;
}
