@font-face {
font-family: 'magic';
src: url('../fonts/magic.ttf?') format('truetype');
}
body {
    height: 480px;
    margin: 0;
    padding: 0;
    width: 1292px;
}

#view-splash {
    background: url("../../images/background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    width: 320px;
}
#view-menu {
    border: 2px solid #FF0000;
    float: left;
    height: 100%;
    width: 320px;
}
#view-search {
    border: 2px solid #FF0000;
    float: left;
    height: 100%;
    width: 320px;
}
#view-mechanics {
    border: 2px solid #FF0000;
    float: left;
    height: 100%;
    width: 320px;
}
